.field-content {
  display: inline-block;
}

.field-main {
  padding-left: 30px;
  position: relative;
  min-height: 20px;
  display: flex;
  align-items: center;
  transition: opacity .2s ease-in-out;
}

.field-input {
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid #ACACAC;
  border-radius: 10px;
  width: 18px;
  height: 18px;
  background-color: #FFF;
  background-position: center;
  background-repeat: no-repeat;
}

.field-label {
  cursor: pointer;
  font-size: 14px;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
  display: block;
}

.field-input-checked {
  background-image: url("#{$static-path}/image/radio-regular.png");;
}

input {
  opacity: 0.5;
}

label.error {
  color: red;
  display: inline-block;
  font-size: 13px;
  padding: 7px 0;
}
