Page( class='page-politics' )
  template( v-slot:header )
    HeaderSimple(
      backUrl='/',
      hs_name="Inicio"
    )

  template( v-slot:main )
    .tyc
      h2
        | Pol&iacute;ticas de privacidad

      p
        | En esta PLATAFORMA, reconocemos que la privacidad de su informaci&oacute;n personal es importante. Aqu&iacute; podr&aacute; conocer sobre qu&eacute; tipo de informaci&oacute;n personal recibimos y recopilamos cuando usted utiliza la PLATAFORMA.

      h4
        | USO DE LA INFORMACI&Oacute;N

      p
        | Para prop&oacute;sitos internos y para alcanzar una mejor experiencia para el Usuario, la EMPRESA y/o EL PROVEEDOR obtienen informaci&oacute;n sobre el uso b&aacute;sico de la PLATAFORMA, como los clics, las marcas favoritas y la posici&oacute;n geogr&aacute;fica donde fue usado el cup&oacute;n, la hora de uso, entre otros, con el &uacute;nico objetivo de poder brindarle al usuario facilidades de acceso a consultas que pudieran ser de su inter&eacute;s.
      h4
        | LIMITACI&Oacute;N DE RESPONSABILIDAD

      p
        | Responsabilidad por los productos y servicios promocionados a trav&eacute;s de la PLATAFORMA
      p
        |LA EMPRESA no tiene la posibilidad de controlar ni supervisar y no asume ninguna responsabilidad por:
      ul
        li
          | Los t&eacute;rminos y condiciones de las ofertas de los COMERCIOS publicados por EL PROVEEDOR.
        li
          | Garant&iacute;as impl&iacute;citas ni expl&iacute;citas realizadas por los COMERCIOS en relaci&oacute;n a los productos o servicios ofrecidos.
        li
          | La calidad, cantidad, seguridad o legalidad, o idoneidad de los bienes o servicios ofrecidos por los Comercios.
        li
          | El cumplimiento de los requisitos legales para ofrecer y vender los productos o servicios, as&iacute; como la capacidad y legitimaci&oacute;n de los Comercios para anunciar sus bienes o servicios.
        li
          | Las actualizaciones,   modificaciones hechas a las ofertas promocionadas en el aplicativo por los Comercios o por su cancelaci&oacute;n.
        li
          | Cualquier otra informaci&oacute;n brindada por medio del Servicio o a trav&eacute;s de hiperv&iacute;nculos (&quot;links&rdquo;) que puedan ser incluidos en la PLATAFORMA.
        li
          | LA EMPRESA no est&aacute; obligada a brindar informaci&oacute;n sobre bienes y servicios de los COMERCIOS, sino que es obligaci&oacute;n de cada uno de &eacute;stos brindar informaci&oacute;n complementaria sobre las restricciones o limitaciones a ofertas, brindar informaci&oacute;n complementaria sobre sus propios avisos a trav&eacute;s de sus canales disponibles y establecer un sistema de reclamos.
      p
        | En los casos en los que, como consecuencia del acceso a la PLATAFORMA se celebren contratos de compraventa de productos o de servicios entre un Usuario y un Comercio, la EMPRESA no asumir&aacute; ninguna responsabilidad por cualquier da&ntilde;o o perjuicio derivados de &eacute;stos. En especial, pero sin limitaci&oacute;n, la EMPRESA no ser&aacute; responsable por:
      ul
        li
          | La calidad y cantidad de los productos o servicios contratados.
        li
          | Los da&ntilde;os producidos al Usuarios, y/o a sus bienes o a terceros beneficiarios de los productos o servicios que resulten de cualquier causa imputable al Comercio.
        li
          | La solvencia de los Usuarios ni de los vendedores o Comercios, ni su capacidad de contratar.
        li
          | Las ofertas son v&aacute;lidas hasta agotar stock o hasta la fecha de vigencia de la misma, lo que ocurra primero.
        li
          | Si las ofertas no son acumulables con otras promociones
        li
          | Si las descripciones y fotos de los productos son referenciales.

      p
        | Consecuentemente, cualquier reclamo derivado de la contrataci&oacute;n de bienes y servicios de los COMERCIOS deber&aacute; ser dirigido contra &eacute;stos.

      p
        | Queda establecido que cualquier reclamo que se origine por indisponibilidad de la Plataforma deber&aacute; ser remitido al libro de reclamaciones de LA EMPRESA en  
        a(href="https://www.profuturo.com.pe" target="_blank")
          | www.profuturo.com.pe
        | .
        | Por otro lado, cualquier reclamo derivado de la utilizaci&oacute;n del cup&oacute;n o descuento o informaci&oacute;n publicada en la Plataforma deber&aacute; ser dirigido al siguiente correo electr&oacute;nico de EL PROVEEDOR:  cmedina@promotick.com

      p
        | El Usuario renuncia expresamente a realizar cualquier reclamo o acci&oacute;n contra la EMPRESA, sus directores, funcionarios, representantes, colaboradores accionistas y personas vinculadas, con respecto a sus relaciones contractuales y extracontractuales y se obligan a mantener a la EMPRESA indemne de toda responsabilidad. La EMPRESA no tiene obligaci&oacute;n de controlar y no controla los contenidos transmitidos, difundidos o puestos a disposici&oacute;n de terceros por los Usuarios ni por EL PROVEEDOR.

      h4
        | VIGENCIAS DE LAS CL&Aacute;USULAS
      p
        | En caso de que cualquier cl&aacute;usula contenida en las presentes condiciones sea declarada nula, anulable o inaplicable, las dem&aacute;s disposiciones de las presentes Condiciones de Uso permanecer&aacute;n en vigor y continuar&aacute;n vinculando a las partes. Todas las notificaciones y avisos realizados desde la PLATAFORMA al Usuario se considerar&aacute;n eficaces una vez publicadas, sin requerirse consentimiento del Usuario.
      p
        | La prestaci&oacute;n del servicio en la PLATAFORMA tiene, en principio, una duraci&oacute;n indefinida, no obstante, el servicio podr&aacute; darse por terminado o suspendido en cualquier momento.
      h4
        | MANTENIMIENTO DEL SERVIDOR
      p
        | Pueden existir periodos regulares del mantenimiento del servidor as&iacute; como mantenimiento de la Plataforma.

      p
        | La EMPRESA har&aacute; su mejor esfuerzo para limitar el tiempo de inactividad del servidor. Sin embargo, la EMPRESA no es responsable por ning&uacute;n da&ntilde;o sufrido por el Usuario como resultado del mantenimiento u otros tiempos de inactividad del servidor o la Plataforma. El Usuario acuerda eximir de responsabilidad a la EMPRESA por cualquier da&ntilde;o sufrido, incluido el lucro cesante y da&ntilde;o emergente que pueda ocasionarse por tales hechos.
      p
        | La EMPRESA no ser&aacute; responsable por ning&uacute;n da&ntilde;o o perjuicio sufrido por el Usuario debido a causas imprevistas o causa fuera del control de la EMPRESA , incluyendo pero no limitados a actos de naturaleza, guerra, terrorismo, motines, embargos, actos de autoridades civiles o militares, incendio, inundaciones, accidentes, ca&iacute;das en los sistemas, huelgas o escasez de facilidades de transporte, combustible, energ&iacute;a, trabajo y materiales.

      p
        | Sin perjuicio de ello LA EMPRESA har&aacute; su mejor esfuerzo por asegurar la disponibilidad, sin interrupciones de los servicios de la Plataforma &quot;Disfruta&rdquo;, pudi&eacute;ndose ver interrumpidos los mismos por la realizaci&oacute;n de trabajos de reparaci&oacute;n y/o mantenimiento, introducci&oacute;n de nuevos productos o servicios o por la naturaleza misma del internet, para lo cual procuraremos limitar la frecuencia y temporalidad de dichas suspensiones.

      h4
        | EQUIPOS/MEDIOS DE ACCESO
      p
        | Al utilizar la PLATAFORMA, el Usuario acepta que el hardware, software y acceso a Internet es trascendental en su experiencia de navegaci&oacute;n. En ese sentido, el Usuario acepta que la PLATAFORMA no es responsable por ning&uacute;n problema con el hardware, software o acceso a Internet del propio Usuario, y por lo tanto exime de responsabilidad a la EMPRESA por dichos temas.
      p
        | El Usuario es el &uacute;nico y completo responsable por los gastos de conexi&oacute;n a Internet, as&iacute; como por todo el equipo necesario para ello, su revisi&oacute;n, reparaci&oacute;n o correcci&oacute;n y cualquier otro costo o gastos por el mantenimiento de los mismos.
      h4
        | AVISOS PUBLICITARIOS
      p
        | El Usuario, por el simple hecho de registrarse y/o utilizar los servicios de la PLATAFORMA autoriza que la EMPRESA y/o EL PROVEEDOR le env&iacute;en toda clase de anuncios y publicidad (incluido, pero no limitado a correos electr&oacute;nicos comerciales, folletos, cartas, etc.) a su direcci&oacute;n f&iacute;sica y/o electr&oacute;nica declarada, con las novedades, ofertas y promociones de los servicios que brinda.
      p
        | En cualquier caso, si el Usuario no desea seguir recibiendo tales comunicaciones, podr&aacute; revocar la autorizaci&oacute;n de recepci&oacute;n otorgada mediante la presente, para lo cual se sugiere revisar la Pol&iacute;tica de Privacidad.

      h4
        | TODOS LOS DERECHOS RESERVADOS - PROPIEDAD INTELECTUAL
      p
        | Todas las marcas, nombres comerciales o signos distintivos de cualquier clase que aparecen en la PLATAFORMA son propiedad de la EMPRESA o de sus respectivos titulares, sin que pueda entenderse que el uso o acceso a la PLATAFORMA atribuya al Usuario derecho alguno sobre las citadas marcas, nombres comerciales y/o signos distintivos. En todos los casos el uso de marcas, nombres comerciales o signos distintivos de terceros en la PLATAFORMA son &uacute;nicamente con fines informativos para los Usuarios. Asimismo los contenidos, im&aacute;genes, rese&ntilde;as, textos y otros Derecho de Propiedad Intelectual que aparecen en la PLATAFORMA son de titularidad de la EMPRESA o de sus respectivos titulares y/o autores, sin que puedan entenderse cedidos, total o parcialmente, respecto a la totalidad de los derechos morales y patrimoniales, ya sea en su derecho de uso, reproducci&oacute;n, distribuci&oacute;n, comercializaci&oacute;n, modificaci&oacute;n o explotaci&oacute;n comercial en cualquier forma, al Usuario. En virtud de lo establecido en los presentes &quot;T&eacute;rminos y Condiciones&rdquo;, ninguno de los derechos existentes o que puedan existir en el futuro sobre dichos contenidos, im&aacute;genes, rese&ntilde;as, textos y otros Derecho de Propiedad Intelectual, podr&aacute; ser utilizado por el Usuario m&aacute;s all&aacute; de lo estrictamente necesario para el correcto uso de la PLATAFORMA y de los servicios ofrecidos, y siempre bajo los principios de buena fe y uso honesto de los mismos. La EMPRESA excluye, con toda la extensi&oacute;n permitida por el ordenamiento jur&iacute;dico, cualquier responsabilidad por los da&ntilde;os y perjuicios de toda naturaleza que puedan deberse a la violaci&oacute;n de signos distintivos o derechos de propiedad intelectual por parte de los usuarios, usuarios registrados y/o terceros.
      p
        | El Usuario no puede descargar, copiar, reproducir, volver a publicar, enviar por correo ordinario, transmitir, almacenar, vender o distribuir las obras y otros derechos de propiedad intelectual sin el permiso escrito previo de la EMPRESA o del titular del derecho de propiedad intelectual, salvo que se trate de descargar una copia en cualquier ordenador &uacute;nicamente para uso personal, dom&eacute;stico y no comercial, siempre que se mantengan intactas las advertencias sobre derechos de propiedad intelectual y cualquier otra advertencia de propiedad. Est&aacute; prohibido modificar el contenido o usar parte del Contenido o la informaci&oacute;n proporcionada para otro prop&oacute;sito que no sea el establecido en los presentes T&eacute;rminos y Condiciones.

      h4
        | JURISDICCI&Oacute;N Y LEY APLICABLE
      p
        | La ley aplicable es la peruana. En caso surgiera alguna controversia entre la EMPRESA y/o EL PROVEEDOR y el USUARIO, &eacute;stos se someter&aacute;n exclusivamente a los Juzgados y Tribunales del Distrito de Lima Cercado, Per&uacute;, renunciando a la posibilidad de someterse a otro fuera jurisdiccional.

      h4
        | AUTORIZACI&Oacute;N DE TRATAMIENTO DE DATOS PERSONALES

      p
        | LA EMPRESA, es decir, PROFUTURO es una Administradora Privada de Fondos de Pensiones (AFP) que forma parte del grupo econ&oacute;mico internacional de The Bank of Nova Scotia (en adelante el &quot;Grupo Scotiabank&quot;). El Grupo Scotiabank ejerce el control sobre un conjunto de empresas del sistema financiero, seguros y de AFP, as&iacute; como sobre empresas vinculadas al mercado de valores, entre otras, tanto en el Per&uacute; como en el extranjero, las cuales, por razones de sinergias, mayor eficiencia y calidad de servicios, comparten procesos de negocio, estructuras gerenciales y sistemas tecnol&oacute;gicos de alcance transfronterizo, dentro de los alcances permitidos por la ley. Las empresas en el Per&uacute; que conforman el Grupo Scotiabank Per&uacute; son: Scotiabank, Scotia Bolsa, Scotia Fondos, Profuturo AFP, CrediScotia Financiera, Servicio Cobranza e Inversiones, CAT Per&uacute; y otras que se aprecian en la p&aacute;gina web www.scotiabank.com.
      p
        | La informaci&oacute;n sobre la identificaci&oacute;n del Usuario, o datos que permitan hacerlo identificable (p.e. datos biom&eacute;tricos), as&iacute; como sobre la informaci&oacute;n personal, financiera, incluyendo informaci&oacute;n calificada como datos sensibles por la Ley de Protecci&oacute;n de Datos, proporcionada, de forma oral, escrita o electr&oacute;nica, por el Usuario u obtenida a trav&eacute;s de otras personas, sociedades y/o instituciones (p&uacute;blicas o privadas, nacionales o extranjeras) es considerada como Datos Personales.

      p
        | El tratamiento de los datos personales es condici&oacute;n necesaria en relaci&oacute;n con el Uso de la Plataforma. En tal sentido, al registrarse el Usuario en la Plataforma, consiente de manera expresa e inequ&iacute;voca que PROFUTURO y EL PROVEEDOR podr&aacute;n dar tratamiento a sus Datos Personales, de manera directa o por intermedio de terceros (Grupo SBP, BNS, los Comercios, aliados comerciales y/o proveedores nacionales o internacionales que podr&aacute; consultar aqu&iacute; ), para la ejecuci&oacute;n de los servicios brindados por y en relaci&oacute;n con la Plataforma, as&iacute; como otros servicios que puedan ser considerados actividades complementarias.

      p
        | PROFUTURO y EL PROVEEDOR declaran que han adoptado las medidas necesarias para mantener segura la informaci&oacute;n. Adicionalmente, EL USUARIO declara que se le ha informado que tiene derecho de oposici&oacute;n, acceso, rectificaci&oacute;n, cancelaci&oacute;n. Para ejercer este derecho o cualquier otro que la ley establezca relacionado a Datos Personales deber&aacute; presentar una solicitud escrita en nuestras oficinas.

  template( v-slot:footer )
    Footer
