.banner {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.banner-content {
  display: flex;
  align-items: center;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.banner-txt {
  min-width: 270px;
  padding: 20px 45px;
}

.banner-txt .icon {
  height: 50px;
  margin-bottom: 19px;
}

.banner-txt p {
  color: white;
  margin: 0;
}

.banner-txt .title {
  font-size: 39px;
  font-weight: bold;
  margin: 0;
}

.banner-txt .descrip {
  font-size: 34px;
  margin: 0;
}

.banner-txt .button {
  margin: 18px 0 0;
}

@media only screen and(max-width: 820px) and (orientation:landscape){
  .banner{
    min-height: 360px;
  }
}

@media only screen and (max-width: 670px) {
  .banner {
    min-height: 360px;
  }

  .banner-content {
    justify-content: center;
  }

  .banner-txt {
    top: 0;
    left: 0;
    width: 90%;
  }

  .banner-txt .icon {
    margin-bottom: 4px;
  }

  .banner-txt .title {
    font-size: 30px;
  }

  .banner-txt .descrip {
    font-size: 26px;
  }
}

@media only screen and( max-width: 500px ){
  .banner-txt svg {
    width: 192px;
  }
}
