.title {
  font-size: 15px;
  margin: 0;
  padding: 30px 25px;
  font-weight: normal;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.coupons {
  width:100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background: none;
}
