.box
  h3 Lo sentimos
  p 
    span.newline Tu elecci&oacute;n no es v&aacute;lida porque ya superamos el l&iacute;mite de stock.
    | A&uacute;n tienes opciones para elegir.

  .buttons-center
    a.button( href='/' ) Disfruta otros beneficios
