Page( 
  class='page-tyc'
)
  template( v-slot:header )
    HeaderSimple(
      backUrl='/',
      hs_name="Inicio"
    )

  template( v-slot:main )
    .tyc
      h2(align="center")
        | Aviso legal
        br
        | T&eacute;rminos y condiciones
        br
        | Utilizaci&oacute;n plataforma disfruta
      p
        | Las presentes condiciones de uso (en adelante, las &quot;Condiciones de Uso&rdquo;) regulan el uso de los servicios ofrecidos a trav&eacute;s de la plataforma Disfruta en adelante la  &quot;PLATAFORMA&rdquo;) de titularidad de Profuturo AFP (en adelante, la &quot;EMPRESA&rdquo;), plataforma que cede en uso a la empresa, PROMOTICK S.A.C., con RUC 20518380762 en adelante &quot;EL PROVEEDOR&rdquo; a efectos de que realice la gesti&oacute;n y publicaci&oacute;n de una serie de descuentos y/o beneficios con establecimiento comerciales en adelante &quot;Comercios&rdquo;.

      p
        | El acceso a la utilizaci&oacute;n de dicha plataforma se regir&aacute; por los t&eacute;rminos y condiciones indicados en el presente documento, por las pol&iacute;ticas de privacidad respectiva as&iacute; como por la legislaci&oacute;n vigente, siendo ello as&iacute; las visitas, contratos y transacciones que se realicen a trav&eacute;s de la indicada plataforma se rigen por las reglas indicadas as&iacute; como por la legislaci&oacute;n vigente.

      p
        | La utilizaci&oacute;n de la PLATAFORMA atribuye inmediatamente la condici&oacute;n de usuario del APLICATIVO (en adelante, el &quot;Usuario&rdquo;) y, por tanto implica la aceptaci&oacute;n sin reservas de todas las disposiciones contenidas en las presentes Condiciones de Uso, as&iacute; como en cualquier otro aviso legal o condiciones que las sustituyan, complementen y/o modifiquen que puedan encontrarse en la plataforma o aplicativo que la contenga.

      p
        | Cualquier persona por el solo hecho de  realizar una consulta y/o desee tener acceso a determinada oferta a trav&eacute;s de la plataforma Disfruta, declara y reconoce que conoce y acepta todos los t&eacute;rminos y condiciones, as&iacute; como las pol&iacute;ticas de privacidad del mismo.

      p
        | EL PROVEEDOR podr&aacute; modificar las Condiciones de Uso completa o parcialmente, sin previo aviso, siendo efectivas estas modificaciones desde su publicaci&oacute;n en la PLATAFORMA. Por consiguiente, se recomienda revisar las Condiciones de Uso vigentes cada vez que utilice la PLATAFORMA.

      h4
        | EL SERVICIO
      p
        | El servicio prestado por el PROVEEDOR en la PLATAFORMA es un servicio informativo gratuito de publicaci&oacute;n de descuentos, promociones, beneficios y/o avisos para la adquisici&oacute;n de productos y/o servicios (en adelante &quot;Cupones&rdquo;) de proveedores distintos a la EMPRESA y EL PROVEEDOR (en adelante &quot;COMERCIOS&rdquo;). En este sentido, el PROVEEDOR publica los Cupones con el prop&oacute;sito de hacer llegar la informaci&oacute;n al Usuario, sin promover directa ni indirectamente la contrataci&oacute;n de bienes ni servicios de los COMERCIOS ni constituirse en anunciantes de los mismos.

      p
        | En ning&uacute;n caso la informaci&oacute;n contenida en los Cupones y/o en cualquier parte de la PLATAFORMA debe ser considerada por el Usuario como completa exhaustiva o vinculante para los COMERCIOS, ni para la EMPRESA ni EL PROVEEDOR, pues, en muchos casos, la informaci&oacute;n contenida en los Cupones est&aacute; destinada principalmente a que el Usuario pueda acceder a la mayor cantidad de promociones y/o descuentos de su inter&eacute;s.

  template( v-slot:footer )
    Footer
