extend 40x

block picture
  include ../public/svg/error-500.svg

block message
  h1 &iexcl;Lo sentimos!
  p En este momento la p&aacute;gina que buscas no est&aacute; disponible.
    br
    | Vuelve a intentarlo m&aacute;s tarde.
